 <table class="table"class="table-fill">
  <thead>
  <tr>
    <th>Book Name</th>
    <th>Genre</th>
    <th>Premiere Date</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let book of books">
    <td>{{book.bookName}}</td>
    <td>{{book.genre}}</td>
    <td>{{book.premiereDate}}</td>
    <td><button (click)="editBook(book)" class="btn btn-info"> Edit</button></td>
    <td><button (click)="deleteBook(book)" class="btn btn-danger" [disabled]="true"> Delete</button></td>
  </tr>
  </tbody>
</table>
