<mat-table [dataSource]="books" matSort class="mat-elevation-z8">
  <div >
  <ng-container matColumnDef="bookName">
    <mat-header-cell *matHeaderCellDef mat-sort-header> BookName </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.bookName}} </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="genre">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Genre </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.genre}} </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="premiereDate">
    <mat-header-cell *matHeaderCellDef mat-sort-header> PremiereDate </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.premiereDate}} </mat-cell>
  </ng-container>
  </div>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editBook(row)"></mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
